.brand-logo{
	font-size: 32px;
	font-family: 'Liu Jian Mao Cao', cursive;
	margin-left: 10px;
}
nav{
	background-color: black;
}
.logo-holder{
	margin-left: 12px;
}
input:not([type]),
input[name=search_box],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea .msg_box{
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 40px !important;
  outline: none !important;
  height: 5rem !important;
  width: 100% !important;
  font-size: 2.5rem !important;
  margin: 0 0 15px 0 !important;
  padding-left: 8px !important;
  text-align: center;
  box-sizing: content-box !important;
  transition: all 0.3s !important;
  font-family: 'Dosis', sans-serif;

}

input:not([type]):focus:not([readonly]),
input[name=search_box]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) .msg_box{
  border-bottom: 2px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
  border-bottom: none;
  box-shadow: none;
}

.msg_box {
  width: auto !important;
}
.search-btn{
	border-radius: 40px;
	background-color: black
}
.typewrite .wrap{
	margin-top: 20px;
}
.img-exp{
	height: 220px;
}
blockquote{
	border-color: black;
	font-size: 38px;
	font-family: 'Dosis', sans-serif;
}
